/*body {
  background-image: url("https://c8.staticflickr.com/6/5346/9033748191_7e764e1c9b_b.jpg");
}

h1, h2, p, div {
  color: white;
}*/

#submitButton {
  margin-top: 10px;
  margin-bottom: 10px;
}